<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="DeviceId" value="hackathontrap"/>
  <add key="DeviceKey" value="BaBrZjE2nnpUIQ+QiG9rJVy4zWhdNmaqw9DrckrM05s="/>  
  <add key="IoTHubHostName" value="iothubhackathon.azure-devices.net"/>  
</appSettings>
</configuration>